<!-- about Section ************************** -->
<div class="about_section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12t">
				<div class="item wow fadeInLef" style="background-image: url({{ site.theme.link }}/assets/images/about/1.jpg);">
					<div class="offer-sec">
						<div class="inner-title">For All Cosmetics<div class="offer">
								<span>30%
									<br>OFF</span>
							</div>
						</div>
					</div>
					<div class="content">
						<h3>We Grow Beauty</h3>
						<p>It is a long established fact that a reader will be
							<br>
							distracted by the readable content of a page when
							<br>
							looking organic cosmetics.</p>
						<div class="link-btn">
							<a href="#" class="tran3s">More Products<span class="fa fa-sort-desc"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12t">
				<div class="item wow fadeInRight" style="background-image: url({{ site.theme.link }}/assets/images/about/2.jpg);">
					<div class="offer-sec">
						<div class="inner-title">For All Cosmetics<div class="offer">
								<span>30%
									<br>OFF</span>
							</div>
						</div>
					</div>
					<div class="content">
						<h3>We Grow Beauty</h3>
						<p>It is a long established fact that a reader will be
							<br>
							distracted by the readable content of a page when
							<br>
							looking organic cosmetics.</p>
						<div class="link-btn">
							<a href="#" class="tran3s">More Products<span class="fa fa-sort-desc"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of .container -->
</div>
<!-- End of .welcome_section -->
