<section class="news">
	<div class="container">
		<div class="theme_title center">
			<h3>our latest news</h3>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="blogList_single_post clear_fix wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
					<div class="img_holder">
						<img src="{{ site.theme.link }}/assets/images/blog/1.jpg" alt="News" class="img-responsive">
						<div class="opacity tran3s">
							<div class="icon">
								<span>
									<a href="blog-details.html" class="border_round">+</a>
								</span>
							</div>
							<!-- End of .icon -->
						</div>
						<!-- End of .opacity -->
					</div>
					<!-- End of .img_holder -->
					<div class="post">
						<ul>
							<li>
								<a href="blog-details.html" class="tran3s">
									<i class="fa fa-tag" aria-hidden="true"></i>
									Healthy</a>
							</li>
							<li>
								<a href="blog-details.html" class="tran3s">
									<i class="fa fa-clock-o" aria-hidden="true"></i>
									J21st Aug, 2015</a>
							</li>
							<li>
								<a href="blog-details.html" class="tran3s">
									<i class="fa fa-comments" aria-hidden="true"></i>
									26</a>
							</li>
						</ul>
						<div class="text">
							<h4>
								<a href="blog-details.html">You should add 5 things in your daily meals.</a>
							</h4>
							<p>As more and more people are turning to organic lifestyles & trying improve their health...</p>
							<div class="link">
								<a href="#" class="tran3s">READ MORE<span class="fa fa-sort-desc"></span>
								</a>
							</div>

						</div>

					</div>
					<!-- End of .post -->
				</div>

			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="blogList_single_post clear_fix wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
					<div class="img_holder">
						<img src="{{ site.theme.link }}/assets/images/blog/2.jpg" alt="News" class="img-responsive">
						<div class="opacity tran3s">
							<div class="icon">
								<span>
									<a href="blog-details.html" class="border_round">+</a>
								</span>
							</div>
							<!-- End of .icon -->
						</div>
						<!-- End of .opacity -->
					</div>
					<!-- End of .img_holder -->
					<div class="post">
						<ul>
							<li>
								<a href="blog-details.html" class="tran3s">
									<i class="fa fa-tag" aria-hidden="true"></i>
									Healthy</a>
							</li>
							<li>
								<a href="blog-details.html" class="tran3s">
									<i class="fa fa-clock-o" aria-hidden="true"></i>
									J21st Aug, 2015</a>
							</li>
							<li>
								<a href="blog-details.html" class="tran3s">
									<i class="fa fa-comments" aria-hidden="true"></i>
									26</a>
							</li>
						</ul>
						<div class="text">
							<h4>
								<a href="blog-details.html">You should add 5 things in your daily meals.</a>
							</h4>
							<p>As more and more people are turning to organic lifestyles & trying improve their health...</p>
							<div class="link">
								<a href="#" class="tran3s">READ MORE<span class="fa fa-sort-desc"></span>
								</a>
							</div>

						</div>

					</div>
					<!-- End of .post -->
				</div>

			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="blogList_single_post clear_fix wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
					<div class="img_holder">
						<img src="{{ site.theme.link }}/assets/images/blog/3.jpg" alt="News" class="img-responsive">
						<div class="opacity tran3s">
							<div class="icon">
								<span>
									<a href="blog-details.html" class="border_round">+</a>
								</span>
							</div>
							<!-- End of .icon -->
						</div>
						<!-- End of .opacity -->
					</div>
					<!-- End of .img_holder -->
					<div class="post">
						<ul>
							<li>
								<a href="blog-details.html" class="tran3s">
									<i class="fa fa-tag" aria-hidden="true"></i>
									Healthy</a>
							</li>
							<li>
								<a href="blog-details.html" class="tran3s">
									<i class="fa fa-clock-o" aria-hidden="true"></i>
									J21st Aug, 2015</a>
							</li>
							<li>
								<a href="blog-details.html" class="tran3s">
									<i class="fa fa-comments" aria-hidden="true"></i>
									26</a>
							</li>
						</ul>
						<div class="text">
							<h4>
								<a href="blog-details.html">You should add 5 things in your daily meals.</a>
							</h4>
							<p>As more and more people are turning to organic lifestyles & trying improve their health...</p>
							<div class="link">
								<a href="#" class="tran3s">READ MORE<span class="fa fa-sort-desc"></span>
								</a>
							</div>

						</div>

					</div>
					<!-- End of .post -->
				</div>

			</div>

		</div>
	</div>
</section>
