<!-- Our Service ****************************** -->
<div class="our_farmer">
	<div class="container">
		<div class="theme_title center">
			<h2>our farmers</h2>
		</div>

		<div class="row">
			<div class="service_slider owl-carousel owl-theme">

				<div class="item center">
					<div class="img_holder">
						<img src="{{ site.theme.link }}/assets/images/team/1.jpg" alt="images">
						<div class="overlay tran3s">
							<div class="inner-box">
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="text">
						<h4>Rebecca Garzany</h4>
						<a href="turnaround.html">
							<h5>Pastoral Farmer</h5>
						</a>
						<p>
							Praising pain was born and I will give you a
							<br>complete account of the system.</p>
					</div>
				</div>
				<!-- End of .item -->

				<div class="item center">
					<div class="img_holder">
						<img src="{{ site.theme.link }}/assets/images/team/2.jpg" alt="images">
						<div class="overlay tran3s">
							<div class="inner-box">
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="text">
						<h4>George William</h4>
						<a href="turnaround.html">
							<h5>Arable Farmer</h5>
						</a>
						<p>
							Praising pain was born and I will give you a
							<br>complete account of the system.</p>
					</div>
				</div>
				<!-- End of .item -->

				<div class="item center">
					<div class="img_holder">
						<img src="{{ site.theme.link }}/assets/images/team/3.jpg" alt="images">
						<div class="overlay tran3s">
							<div class="inner-box">
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>

						</div>
					</div>
					<div class="text">
						<h4>Giana Fernando</h4>
						<a href="turnaround.html">
							<h5>Farm Manager</h5>
						</a>
						<p>
							Praising pain was born and I will give you a
							<br>complete account of the system.</p>
					</div>
				</div>
				<!-- End of .item -->


			</div>
			<!-- End of .service_slider -->
		</div>
	</div>
</div>
<!-- End of .our_service -->
