<!-- Request Quote ******************************* -->
<section class="why_choose_us">
	<div class="theme_title_bg" style="background-image: url({{ site.theme.link }}/assets/images/background/1.jpg);">
		<div class="theme_title center">
			<div class="container">
				<h2>Why to Choose Us</h2>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
					<br>alteration in some form, by injected humour.</p>

			</div>
		</div>

	</div>

	<div
		class="container">
		<!-- End of .theme_title_center -->

		<div
			class="row">

			<!-- ______________ Item _____________ -->
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="choose_us_item tran3s">
					<div class="icon p_color_bg border_round float_left">
						<span class="ficon icon-fruit-1"></span>
					</div>
					<!-- End of .icon -->
					<div class="text float_left">
						<h5 class="tran3s">100% Organic Products</h5>
						<p class="tran3s">Duis aute irure dolor in reprehenderit voluptate velit esse seds cillum dolore eu fugiat nulla pariatur excepteur sint occaecat.</p>
					</div>
					<!-- End of .text -->
					<div class="clear_fix"></div>
				</div>
				<!-- End of .choose_us_item -->
			</div>
			<!-- End of .col -->

			<!-- ______________ Item _____________ -->
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="choose_us_item tran3s">
					<div class="icon p_color_bg border_round float_left">
						<span class="ficon icon-wheat"></span>
					</div>
					<!-- End of .icon -->
					<div class="text float_left">
						<h5 class="tran3s">Any Time, Anywhere Delivery</h5>
						<p class="tran3s">Duis aute irure dolor in reprehenderit voluptate velit esse seds cillum dolore eu fugiat nulla pariatur excepteur sint occaecat.</p>
					</div>
					<!-- End of .text -->
					<div class="clear_fix"></div>
				</div>
				<!-- End of .choose_us_item -->
			</div>
			<!-- End of .col -->

			<!-- ______________ Item _____________ -->
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="choose_us_item tran3s">
					<div class="icon p_color_bg border_round float_left">
						<span class="ficon icon-food-2"></span>
					</div>
					<!-- End of .icon -->
					<div class="text float_left">
						<h5 class="tran3s">Keeps Your Family Healthy</h5>
						<p class="tran3s">Duis aute irure dolor in reprehenderit voluptate velit esse seds cillum dolore eu fugiat nulla pariatur excepteur sint occaecat.</p>
					</div>
					<!-- End of .text -->
					<div class="clear_fix"></div>
				</div>
				<!-- End of .choose_us_item -->
			</div>
			<!-- End of .col -->

			<!-- ______________ Item _____________ -->
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="choose_us_item tran3s">
					<div class="icon p_color_bg border_round float_left">
						<span class="ficon icon-fruit"></span>
					</div>
					<!-- End of .icon -->
					<div class="text float_left">
						<h5 class="tran3s">Clean, Fresh and Safety</h5>
						<p class="tran3s">Duis aute irure dolor in reprehenderit voluptate velit esse seds cillum dolore eu fugiat nulla pariatur excepteur sint occaecat.</p>
					</div>
					<!-- End of .text -->
					<div class="clear_fix"></div>
				</div>
				<!-- End of .choose_us_item -->
			</div>
			<!-- End of .col -->
		</div>
	</div>
	<!-- End of .container -->
</section>
<!-- End of why chooreus -->
